#searchField {
    display: none;
    margin-left: -15px;
    width: 40%;
}
a:hover {
    text-decoration: none;
}

.likeLink:hover {
    background: green;
}
.dislikeLink:hover {
    color: red;
}
#searchIcon {
    position: fixed;
    bottom: 20px;
    left: 16px;
}

#backArrow {
    background: transparent;
    position: fixed;
}

#backArrow svg {
    color:white;
}
