#eqdash {
    background-image: url("../images/eqdash.611cd86724a9.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    background-attachment: fixed;
    overflow:hidden;
    max-height: 97vh;
}

.dashImg {
    object-fit: contain;
    width: 234px;
    height: 100%;
    display: block;
    float: left;
    box-shadow: 7px 7px 10px #ccc;
}

.dashImg:hover {
    display: block;
    float: left;
    box-shadow: 7px 7px 10px #607d8b;
}


#dash-content {
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
}

#dash-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dash-cards{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-content: space-around;
}

.card{
    width:20rem;
    height:25rem;
    margin-right:2rem;
    margin-bottom:2rem;
    border-style: none;
}

.card a{
    width:20rem;
    height:20rem;
}

@media screen and (max-width: 911px){ 
    #eqdash{
        overflow: unset;
        max-height: unset;
        display:flex;
        flex-direction: column;
        height: 115rem;
        background-position: -33rem -11rem;
    }
    #dash-content{
        height: unset;
    }

    #searchField{
        width: 100%;
    }
}

@media screen and (max-width: 500px){  
    #eqdash{
        overflow: unset;
        max-height: unset;
        display:flex;
        flex-direction: column;
        height: 115rem;
    }
    #dash-content{
        height: unset;
    }

    #searchField{
        width: 100%;
    }
}