#eqdash {
    background-image: url("../images/eqdash.611cd86724a9.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 150px;
    background-position-y: -70px;
}

#contactspage {
    color: black;
    background-image: url("../images/trainingday2.55449e84b1b3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
}

#logoutpage {
    color: white;
    background-image: url("../images/flight.870e68228775.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#reg {
    background-image: url("../images/eqend.850be7e9ecf4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#profdet {
    background-image: url("../images/profdet2.6be01abf64d6.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

#crpstpage {
    background-image: url("../images/trainingday.c4f68196fa24.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#pstdet {
    background-image: url("../images/m_merged.c0c05c19f25b.png");
    background-size: 170%;
    background-position-x: center;
    background-repeat: no-repeat;
}

#welcome {
    background-image: url("../images/amgang212.169f38885cc3.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#page404 {
    background-image: url("../images/bg.779a3afd9cd6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}