#eqdash {
    background-image: url("../images/eqdash.611cd86724a9.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 150px;
    background-position-y: -70px;
}

#contactspage {
    color: white;
    background-image: url("../images/trainingday2.55449e84b1b3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#logoutpage {
    color: white;
    background-image: url("../images/flight.870e68228775.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#reg {
    background-image: url("../images/eqend.850be7e9ecf4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#profdet {
    background-image: url("../images/abstr.4d9d98081702.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

#crpstpage {
    background-image: url("../images/trainingday.c4f68196fa24.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#pstdet {
    background-image: url("../images/m_merged.c0c05c19f25b.png");
    background-size: 170%;
    background-position-x: center;
    background-repeat: no-repeat;
}

#welcome {
    background-image: url("../images/amgang212.169f38885cc3.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

nav {
    color: black;
}

.regForm {
    background-color: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	width: 500px;
    height: 300px;
}

.regForm2 {
    background-color: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	width: 500px;
    height: 500px;
}

.profForm {
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	width: 50%;
    height: 470px;
}

.logForm {
    background-color: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	width: 500px;
    height: 270px;
}

.pstForm {
    background-color: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	width: 500px;
}

label{
    color:white;
}

input[type='file'] {
   color: transparent;
}

#logoutBtn {
    color: black;
    margin-right: 10px;
}

.errorlist.nonfield {
    color:red;
}

#searchField {
    display:none;
    margin-left: -15px;
    width: 40%;
}

#id_searched {
    padding: 18px;
}

.row {
    display: flex;
    flex-direction: row;
}

.dashImg {
    object-fit: cover;
    width: 234px;
    height: 151px;
}

a:hover {
    text-decoration: none;
}

.likeLink:hover {
    background:green;
}


.dislikeLink:hover {
    color:red;
}

p.file-upload {
    color:white;
}

p.file-upload a{
    color:white;
}

.errorlist {
    color: white;
}

input.form-control {
    margin-bottom: 20px;
}

#delForm input {
    color:lightgrey;
}