@import 'forms.css';
@import 'pages.css';
@import 'buttons.css';

nav {
    color: black;
}

label {
    color: white;
}

.errorlist.nonfield {
    color: red;
}

#id_searched {
    padding: 18px;
}

.row {
    display: flex;
    flex-direction: row;
}

.dashImg {
    object-fit: contain;
    width: 234px;
    height: 100%;
}

p.file-upload {
    color: white;
}

p.file-upload a {
    color: white;
}

.errorlist {
    color: white;
}

input.form-control {
    margin-bottom: 20px;
}

#delForm input {
    color: lightgrey;
}

input[type='file'] {
    color: transparent;
}
