{% extends 'main/mainForm.html' %}

{% block formContent %}
    <body id="reg">
    <form style="color:white;" method="POST" class="form w3-container w3-display-middle"
          enctype="multipart/form-data">
        <div style="width:100%; padding-top:1rem; text-align:center;" class="w3-container w3-blue-grey">
            <h2>Change your password</h2>
        </div>
        {{ form }}
        {% csrf_token %}
        <button class="w3-button w3-block w3-section w3-blue-grey w3-ripple w3-padding">Submit</button>
    </form>
    </body>

{% endblock %}