{% extends 'main/mainForm.html' %}
{% block formContent %}
    <body class="log-body">
    <form method="POST" class="form w3-container" enctype="multipart/form-data">
        <div style="padding-top: 10px; width:100%; text-align: center;" class="w3-container w3-blue-grey">
          <h2>Register</h2>
        </div>
        {{ form }}
        {% csrf_token %}
        <button class="w3-button w3-block w3-section w3-blue-grey w3-ripple w3-padding">Create Profile</button>
        <a style="color:white;" href="{% url 'login' %}">Login to existing profile</a>
    </form>
    </body>
 
{% endblock %}