{% extends 'main/main.html' %}
{% block content %}
    <body class="log-body">
    <form class="form" method="POST" enctype="multipart/form-data">
        <div style="text-align: center;" class="w3-container w3-blue-grey">
          <h2>Are you sure you want to delete your profile? </h2>
        </div>
        {{ form }}
        {% csrf_token %}
        <button class="w3-button w3-block w3-section w3-blue-grey w3-ripple w3-padding">Delete</button>
    </form>
    </body>
{% endblock %}