{% extends 'main/main.html' %}
{% block content %}
    <body id="reg">
    <form class="regForm2 w3-display-middle" method="POST" enctype="multipart/form-data">
        <div style="padding-top: 10px;" class="w3-container w3-blue-grey">
          <h2 class="w3-center">Update your Profile Info</h2>
        </div>
        {{ form }}
        {% csrf_token %}
        <button class="w3-button w3-block w3-section w3-blue-grey w3-ripple w3-padding">Done</button>
        <a style="color:white" class="w3-display-bottom" href="{% url 'change-password' object.pk %}">Change Password</a>
    </form>
    </body>

{% endblock %}