{% extends 'main/mainForm.html' %}
{% block formContent %}
    <body id="reg">
    <form style="height: 290px;" method="POST" class="logForm w3-container w3-display-middle" enctype="multipart/form-data">
        <div style="padding-top: 10px;" class="w3-container w3-blue-grey">
          <h2>Login</h2>
        </div>
        {{ form }}
        {% csrf_token %}
        <button class="w3-button w3-block w3-section w3-blue-grey w3-ripple w3-padding">Submit</button>
        <a style="color:white;" href="{% url 'create-profile' %}">Don't have a profile? Create one now!</a>
    </form>
    </body>
{% endblock %}