{% extends 'main/mainClean.html' %}

{% block contentClean %}
<body id="logoutpage">

<header style="color:white" id="logout-header" class="w3-container w3-center w3-display-middle">
  <h1 class="w3-margin w3-jumbo">Are you sure you want to log out?</h1>
  <a href="{% url 'logout-confirm' %}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Logout</a>
  <a href="javascript:history.go(-1)" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Cancel</a>
</header>

</body>
</html>

{% endblock %}