{% extends 'main/main.html' %}
{% block content %}
{% load static %}
<body class="pst-body">
    <form method="POST" class="pst-form w3-display-middle w3-container" enctype="multipart/form-data">
        <div style="color:white" class="w3-container">
          <h2 class="w3-center">Upload your Denzel story</h2>
        </div>
        {{ form }}
        {% csrf_token %}
        <button class="w3-button w3-block w3-section w3-blue-grey w3-ripple w3-padding">Add</button>
    </form>
</body>
    <script>
        let topMenu = document.querySelector('#topMenu');
        topMenu.querySelector('#logoutBtn').style.color = 'white';
        topMenu.querySelector('h1').style.color = 'white';
        topMenu.querySelector('#stripes').style.color = 'white'

    </script>
{% endblock %}
