{% extends 'main/main.html' %}
{% block content %}
    <body id="contactspage">

    <div style="width:100%; margin-left:20px" class="w3-content  w3-display-middle">
        <h1 class="w3-text-grey w3-center"><b>Contact Us</b></h1>
        <div style="margin-top: 80px; " class="w3-row">
            <div class="w3-third">
                <h2>
                    <i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>
                    Phone
                </h2>
                <p>
                    001-234-5678
                </p>
                <p>
                    001-987-7654
                </p>
            </div>
            <div class="w3-third">
                <h2>
                    <i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>
                    Email
                </h2>
                <p>
                    denzelfans@support.com</p>
            </div>
            <div class="w3-third">
                <h2>
                    <i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>
                    Address
                </h2>
                <p>
                    121 Rock Street, 21 Avenue, New
                </p>
                <p>York, NY 92'103-9000</p>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('#topMenu h1').style.color = 'white'
        document.querySelector('#logoutBtn').style.color = 'white'
    </script>
    </body>
{% endblock %}