{% extends 'main/mainClean.html' %}
{% block contentClean %}
    <body id="welcome">
    <header style="margin-top: 10%" class="w3-display-container w3-center">
        <div class="mySlides w3-animate-opacity">
            <div class="w3-display-middle w3-padding w3-hide-small" style="width:35%">
                <div style="width: 90%"
                     class="w3-light-grey w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                    <h1 class="w3-xlarge">Not logged in?</h1>
                    <hr class="w3-opacity">
                    <p>Create a profile or Log in to our website</p>
                    <p><a href="{% url 'login' %}" class="w3-button w3-block w3-blue-grey w3-round"
                          onclick="document.getElementById('download').style.display='block'">Login</a></p>
                    <p><a href="{% url 'create-profile' %}" class="w3-button w3-block w3-blue-grey w3-round"
                          onclick="document.getElementById('download').style.display='block'">Register</a></p>
                </div>
            </div>
        </div>
        <a href="{% url 'posts' %}" class="w3-button w3-black w3-display-right w3-round w3-hide-small w3-hover-light-grey">Take Tour <i class="fa fa-angle-right"></i></a>
    </header>
    <a id="welcome-shadow" href=""></a>
    </body>

{% endblock %}