{% extends 'main/mainClean.html' %}
{% block contentClean %}
    <body id="welcome">
    <div class="welcome-container">
        <div class="content-container">
            <div class="log-content">
                <h3>Not logged in?</h3>
                <hr>
                <p>Create a profile or Log in to our website</p>
                <div class="log-btns-container">
                    <a class="log-btn w3-blue-grey w3-button" href="{% url 'login' %}">Login</a>
                    <a class="log-btn w3-blue-grey w3-button" href="{% url 'create-profile' %}">Register</a>
                </div>
            </div>
            <a id="take-tour-btn" href="{% url 'posts' %}">Take Tour <i class="fa fa-angle-right"></i></a>
        </div>
        <h1 id="header">Denzel Washington Fan Page</h1>
    </div>
    </body>

{% endblock %}