#mySidebar{
    top:0;
}

#heading {
    color:white;
    font-family: 'Koulen';
    font-size: 7rem;
    text-align: center;
    width:100%;
    position: absolute;
    top: 0;
}

#mainContainer {
    padding-top:20rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

#heading-buttons{
    width:100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2rem;
}

#logoutBtn>i {
    color:white;
    font-size: xx-large;
    padding:1rem;
    z-index:1;
}

#logoutBtn>i:hover {
    background-color: transparent;
    font-size: xx-large;  
}

#stripes {
    font-size: 3rem;
    color:white;
    padding:1rem;
    background-color: transparent;
    cursor:pointer;
    z-index:1;
}


.hov-btn:hover {
    background-color: #607D81!important;
}

#bg-shadow{
    width:100%;
}


@media screen and (max-width: 911px) {
    #heading{
        font-size: 5rem!important;
    }
    
    #heading-buttons{
        top: 7rem;
        justify-content: center;
    }
}


@media screen and (max-width: 567px) {
    #heading-buttons{
        padding-top:3rem;
    }

    #heading{
        font-size: 3rem!important;
    }
}