.profImg{
    width: 100%;
}

.profImg:hover {
    display: block;
    float: left;
    box-shadow: 7px 7px 10px #607d8b;
}


@media screen and (max-width: 567px) {
    #profile-name{
        font-size:3rem!important;
    }
}